@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

*,
*::after,
*::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #343a40; 
}

#btnTop {
    border: none;
    background: transparent;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 23px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
  
  .btnTop-image {
    width: 2rem;
    height: 2rem; 
}

/* ==========
    ABOUT 
========== */

#about {
    background: #ecebe7; 
}

.about-item {
    padding-top: 175px;
    height: 80vh;
    position: relative;
}

.about-item__letter {
    display: block;
}

.about-item__letter img {
    width: 95%;
    position: absolute;
    top: 4%;
    right: 0%;
}

#hello {
    font-weight: 200;
}

#name, #below {
    font-weight: 600;
}

#words {
    display: inline-block;
    font-style: italic;
    width: 135px;
    padding: 10px;
    font-weight: 700;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* ==========
    NAVBAR 
========== */

#my-name {
    margin: 0;
    font-weight: 600;
}

.navbar {
    padding: 2rem;
}

.nav-icon {
    font-size: 18px;
}

.fab:hover, .fas:hover {
    color: #B0AFAD !important;
}

.navbar-nav > .nav-item:first-child > a > .nav-icon:first-child {
    font-size: 17px;
}

/* ===============
    PROJECT BLOCK
================= */

#block--one {
    background: #f3f6f9; 
}

#block--two {
    background: #fff0f0; 
}

#block--three {
    background: #ebf4ff; 
}

#block--four {
    background: #81d8d545; 
}

#block-five {
    background: #eaeaeab3; 
}

.block-item {
    min-height: 100vh;
}

/* ===============
    PROJECT TEXT
================= */

/* HEADINGS STYLES */

.block-item__heading {
    padding: 15px 0;
}

.block-item__heading h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.block-item__link a:hover {
    color: #B0AFAD;
}

/* HEADINGS COLORS */

#heading--one {
    color: #f05457 !important;
}

#heading--two {
    color: #435B71;
    font-weight: 400;
    text-transform: uppercase;
}

#heading--three {
    background-image: linear-gradient(to right, #44c19d, #38A2A8);
    color:transparent;
    -webkit-background-clip: text;
}

#heading--four {
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 200;
}

#heading--four span {
    font-weight: 600;
}

/* LOGOS STYLES */

#chat-logo {
    width: 55px;
    height: 60px;
}

#protask-logo {
    width: 40px;
    height: 40px;
}

/* SKILLS */
.skills {
    font-size: 1rem;
}

/* LINKS STYLES */

.block-item__link {
    font-weight: 500;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* LINKS & SKILLS COLORS */

#skills--one,
.block-item__link--one a {
    color: #bcbaf9;
}

#skills--two,
.block-item__link--two a {
    color: #f05457;
}

#skills--three,
.block-item__link--three a {
    color: #435B71;
}

#skills--four,
.block-item__link--four a {
    color: #36a89a;
}

#skills--five,
.block-item__link--five a {
    color: #5FB4EF;
}
/* =======================
    PROJECT SCREEN IMAGE
========================== */

div.desktop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

video {
    object-fit: fill;
}

div.desktop-wrapper video { 
    box-sizing: border-box;
    background: url(https://raw.githubusercontent.com/allenhj/personal-site/master/static/Apple-MacBook.png) center center no-repeat;
    background-size: contain;
    padding: 9.4% 11.4% 13.6%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.desktop-wrapper img {
    box-sizing: border-box;
    background: url(http://img01.deviantart.net/05b6/i/2011/030/8/5/apple_led_cinema_screen_by_fisshy94-d38e3o5.png) center center no-repeat;
    background-size: contain;
    padding: 3.4% 11% 19.4%;  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.desktop-wrapper #chat {
    box-sizing: border-box;
    background: url(http://img01.deviantart.net/05b6/i/2011/030/8/5/apple_led_cinema_screen_by_fisshy94-d38e3o5.png) center center no-repeat;
    background-size: contain;
    padding: 3.4% 10.5% 19.4%;  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.desktop-wrapper #protask {
    box-sizing: border-box;
    background: url(https://raw.githubusercontent.com/allenhj/personal-site/master/static/Apple-MacBook.png) center center no-repeat;
    background-size: contain;
    padding: 9.4% 11.4% 13.4%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* MOBILE */
@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .navbar {
        padding: 1rem;
        background: #B0AFAD;
        color: white;
    }

    div.desktop-wrapper img {
        padding: 3.4% 10% 19.4%;  
    }

    .navbar-nav { 
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: 15px;
    }
}

/* TABLET */
@media (min-width: 768px) { 
    div.desktop-wrapper #chat {
        padding: 3.4% 11% 18.4%;
    }
}

@media (max-width: 991px) {
    .block-item {
        padding: 2rem 0;
    }

    .block-item div {
        text-align: center;
    }

    .about-item__letter {
        display: none;
    }
    
    .navbar {
        background: #353535;
    }

    #my-name, 
    .nav-icon {
        color: #ecebe7 !important;
    }

    .navbar-toggler {
        color: #ecebe7 !important;
        border-color: #949492 !important;
    }

    .navbar-nav { 
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: 15px;
    }
    
    .custom-toggler.navbar-toggler:focus,
    .custom-toggler.navbar-toggler:active:focus,
    .custom-toggler.navbar-toggler.active:focus,
    .custom-toggler.navbar-toggler.focus,
    .custom-toggler.navbar-toggler:active.focus,
    .custom-toggler.navbar-toggler.active.focus {
        outline: none;
    }

    .custom-toggler.navbar-toggler {
        border-color: rgb(148,148,146);
    }

    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(148,148,146)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/* DESKTOP */
@media (min-width: 991px) {
    div.desktop-wrapper #chat {
        padding: 3.4% 10.5% 18.4%;
    }
}