//COLORS
$color-primary: rgb(52, 158, 105);
$color-primary-dark: #28B483;
$color-primary-light: #D5CE6F;

$color-secondary-light: #f1cd6f;
$color-secondary-dark: #da7d4c;
$color-tertiary-light: #85b6e2;
$color-tertiary-dark: #4966b9;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;