.navigation {
    
    @include respond(tab-port) { 
        padding-top: 2rem;
    }
    @include respond(phone) { 
        padding-top: 5rem;
    }

    &__navig{
        margin-left: auto;
        margin-right: auto;
        padding: 4rem 0 7rem;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: auto; 

        
        @include respond(phone) { 
            font-size: 3rem;
            padding: 1rem 4rem;
        }  
    }

    &__link-active{
        color: $color-white;

        &:hover {
            color: $color-primary-light;
        }
    } 
    
}

nav a, .cloud-element a{
    font-family: "Open Sans", sans-serif;
    color: $color-grey-dark;
    letter-spacing: .3rem;
    font-size: 2rem;
    font-weight: normal;
    padding: 3rem;
    text-decoration: none;
}