.circle {
    border-radius: 50%;
    overflow: hidden;
    width: 24rem;
    height: 23rem;
    background: no-repeat 50%;
    object-fit: cover;
    margin: 0 auto;

}

#map {
    height: 100vh;
    width: 100vw;
}