.project {
    width: calc((100% - #{$gutter-horizontal}) / 2);  //1140 - 60/2 = 540 = 54rem
    float: left;

    position: relative;
    overflow: hidden;

    &:nth-child(odd) {
        margin-right: 2rem;

        @include respond(tab-port) { 
            margin-right: 0;
            margin-bottom: 5rem;
        }
    }

    &:nth-last-child(n + 2) {
        margin-bottom: 2rem;

        @include respond(tab-port) { 
            margin-bottom: 5rem !important; 
        }

        @include respond(phone) { 
            margin-bottom: 5rem !important; 
        } 
    }

    @include respond(tab-port) { 
        width: 100% !important; 
    }

    @include respond(phone) { 
        font-size: 2.5rem;
    } 

    &__box {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        transition: transform .3s;
        position: relative;

        overflow: hidden;

        @include respond(tab-port)  {
            padding: 1rem;
        }
    }
    
    &__shape {
        background-size: cover;     
        background-blend-mode: screen;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px; 

        overflow: hidden;
        &--1 {
            background-image: url(../img/nator.png);
        }

        &--2 {
            background-image: url(../img/project-2.jpg);
        }

        &--3 {
            background-image: url(../img/project-3.jpg);
        }

        &--4 {
            background-image: url(../img/project-4.jpg);
        }

    }
  
    &__img {
        display: block;
        width: 100%; 
        height: 100%;
    }
  
    &__text {       
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        overflow: hidden;
        display:none;
        opacity: 0;

        &:hover {
            display:block;
            opacity: 1;
        transition: opacity 0.2s linear 0s;
        }

      @include respond(tab-port) {
        padding-left: 16rem;
      }
  
      @include respond(big-phone) {
        transform: skew(0);
      }
  
      @include respond(phone) {
        padding: 18rem 0 0 0;
      }
    }
  
    &__url {
      display: inline-block;

      &-logo {
          width: 6rem;
          height: 6rem;
      }
    }
  
    &__link {
      &:link,
      &:visited {
        color: $color-white;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    
}

.project .project__shape {
    position: relative;
    overflow: hidden;
}

.project .project__text {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display:none;
   opacity: 0;
}

.project:hover .project__text {
    display: block;
    opacity: 1;
    transition: opacity 0.2s linear 0s;
}