body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    font-size: 6rem;
    letter-spacing: .5rem;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include respond(phone) { 
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include respond(phone) { 
            letter-spacing: .5rem;
        } 
    }
}

.heading-secondary {
    font-size: 4rem;
    color: $color-grey-dark;
    font-weight: 400;
    display: inline-block;
    -webkit-background-clip: text;
    letter-spacing: .5rem;

    @include respond(tab-port) { 
        font-size: 3rem; 
    }

    @include respond(phone) { 
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }     
}

.heading-tertiary {
    font-size: 4rem;
    color: $color-white;
    font-weight: 400;
    display: inline-block;
    -webkit-background-clip: text;
    letter-spacing: .5rem;

    @include respond(tab-port) { 
        font-size: 3rem; 
    }

    @include respond(phone) { 
        font-size: 2.5rem;
    } 

    &:hover {
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-projects {
    font-size: 2rem;
    color: $color-black;
    font-weight: 400;
    display: inline-block;
    -webkit-background-clip: text;
    letter-spacing: .5rem;

    @include respond(tab-port) { 
        font-size: 3rem; 
    }

    @include respond(phone) { 
        font-size: 2.5rem;
    } 

    &:hover {
        color: $color-primary-light;
    }
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.text-primary{
    color: $color-white;
    transform: translate(5%, 70%);

    &-hi{
        display: block;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: .3rem;
        color: $color-primary-light;
    }

    &-main{
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .5rem;
    }

    &-sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .3rem;
        font-weight: normal;
        color: $color-grey-dark;
    }

    @include respond(tab-port) { 
        transform: translate(2%, 70%);
    }

    @include respond(phone) { 
        transform: translate(3%, 70%);
    }
}

.text-secondary {
    color: $color-grey-dark;
    font-size: 1.8rem;
}

.about-text {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
    font-weight: 400;
    letter-spacing: .5rem;
    color: $color-grey-dark-3;

    &::before {
        background-color: $color-grey-dark;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 30%;
        right: 0.5em;
        margin-left: -50%;
    }
    &::after {
        background-color: $color-grey-dark;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 30%;
        left: 0.5em;
        margin-right: -50%;
    }

    @include respond(tab-port) { 
        &::before {
            display: none;
        }

        &::after{
            display: none;
        }
    }
}